html, body {
    height: 100%;
}

body {
    margin-top: 0;
	background-color:aquamarine;
    font-family: Arial;
}

center{
    margin:0;
}

#container, #links{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#container {
    position: relative;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:25px;
    padding-top:25px;
    /*height:800px;*/
    margin-top:85px;
}

#links {
    margin-top: 25px;
    color: #00AEEF;
    padding-bottom: 25px;
}

    #links > a {
        text-decoration: none;
        color: #00AEEF;
        font-weight: bold;
        font-size:medium;
    }

        #links > a:visited {
            color: #00AEEF;
        }


img {
    position: absolute;
    right:-175px;
    top:-75px;
    width:265px;
    height:265px;
    visibility:visible;
}


iframe {
    width:800px;
    height:600px;
    /*margin-top:10px;*/
    /*align-self:center;*/
    /*margin-left: auto;
    margin-right: auto;*/
}

button {
    width: 400px;
    height: 50px;
    border: none;
    margin-top: 10px;
    background-color: #00AEEF;
    color: white;
    font-weight: bold;
    font-size: medium;
    transition: background-color 0.15s;
}

    button:hover {
        background-color: #009EDF;
    }

h3 {
    color: #00AEEF;
    font-weight: bold;
}

h1 {
    color: #007EBF;
    font-weight: bold;
}