body {
    /*background-image: url(img/left.png), url(img/right.png);
    background-position: left top, right top;
    background-repeat: no-repeat;
    background-size: 429px;*/
    /*text-align: center;*/
    margin-top: 0;
    /*align-content: center;*/
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
img{
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
}
input {
    border: hidden;
    text-align: center;
    background-color:#ddd;
    width:25px;
    height:25px;
    margin:5px;
}

#go {
    background-color: #ffffff;
    margin-left:25%;
    margin-right:25%;
}

a {
    color: black;
    font-size: large;
    text-decoration: none;
}
#header {
    background-color: #ffffff;
    font-weight:700;
    font-size:32px;
}
#container {
    max-width: 1080px;
    /*text-align: center;*/
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#left, #right {
    position: absolute;
    z-index: -1;
    width: 429px;
    height: 940px;
    margin-top: 0;
    top: 0;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#back {
    text-align: right;
    color: #E21E79;
}

    #back > p {
        margin-right:25%;
        background-color: rgba(0,0,0,0);
    }

#back:visited {
    color: #800080;
}