body {
    
    background-color:hotpink;
    margin-top: 0;
    font-family: Arial;
    font-weight: bold;
}
input {
    border: hidden;
    text-align: center;
    background-color:#ddd;
    width:25px;
    height:25px;
    margin:5px;
}

#go {
    margin-left:25%;
    margin-right:25%;
    font-weight:normal;
}

#joy {
    position: absolute;
    right: -175px;
    top: -75px;
    visibility: visible;
}

a {
    color: black;
    font-size: large;
}
#header {
    font-weight:700;
    font-size:32px;
}
#container, #links {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#container {
    position: relative;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
    padding-top: 25px;
    /*height:800px;*/
    margin-top: 85px;
}

#links {
    margin-top: 25px;
    color: purple;
    font-family: Arial;
    padding-bottom: 25px;
}

    #links > a {
        text-decoration: none;
        color: purple;
        font-weight: bold;
        font-size: medium;
    }

        #links > a:visited {
            color: purple;
        }

button{
    border:none;
    font-size:large;
    background-color:#e0e0ff;
    padding:5px;
    margin:7px;
}

#img-score {
    display: inline;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#score-type {
    position:absolute;
    right:75px;
    top:300px;
}